PUBLIC_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_KEY
PRIVATE_RPC_URL=https://rpc.flashbots.net/fast

PRIVATE_KEYS=

NFT_CONTRACT=

QUANTITY=1

GAS_BUMP_PERCENT=200
GAS_BUFFER_PERCENT=20
GAS_LIMIT_MULTIPLIER=1.3
MIN_PRIORITY_GWEI=1
MAX_GAS_CEILING_GWEI=50

LEAD_TIME_MS=200

SENDER_KEY=
ADDRESS_FILE=./address.txt
